
/* --Mobile device-- */
@media screen and (max-width:576px) {
    
/* --nav section responsive start here-- */

.nav-container{
    flex-direction: column;
    background-color: wheat;
}
.nav-list{
    flex-direction: column;
}
.navbar{
    flex-direction: column;
}
.nav-logo{
    margin:30px auto;
}

/* --nav section responsive end here-- */

/* banner section responsive start here */

.game-banner{
    flex-direction: column-reverse;
    height: 850px;
}
.banner-photo img{
    width: 400px;
    height: 400px;
}
.banner-info{
    width: 300px;
}

/* banner section responsive end here */

/* poster section responsive start here */

.poster-container{
    flex-direction: column;
    width: 400px;
    margin-left: 10%;
}
.poster-photo img{
    width: 400px;
    height: 300px;
}
.poster-info{
    width: 400px;
    height: 400px;
}
.poster-info button{
    position: relative;
    left:40%;
}
.quote-head{
    text-align: center;
    margin-top: 20px;
}
.quote{
    font-size: 25px;
}
/* poster section responsive end here */

/* --funny section responsive start here-- */

.funny-header{
    font-size: 30px;
}
.funny-container{
    flex-direction: column;
}
.box{
    position: relative;
    left: 10%;
}

/* --funny section responsive end here-- */
}
















/* --medium device-- */
@media screen and (min-width:576px) and (max-width:992px) {
/* --nav section responsive start here-- */

.nav-container{
    flex-direction: column;
    background-color: aquamarine;
}
.nav-list{
    flex-direction: column;
}
.navbar{
    flex-direction: column;
}
.nav-logo{
    margin:30px auto;
}

/* --nav section responsive end here-- */

/* banner section responsive start here */

.game-banner{
    flex-direction: column-reverse;
    width: auto;
    height: 850px;
    background-color: bisque;
    
}
.banner-photo img{
    width: 500px;
    height: 500px;
}

/* banner section responsive end here */

/* poster section responsive start here */

.poster-container{
    flex-direction: column;
    width: 400px;
    margin-left: 25%;
}
.poster-photo img{
    width: 400px;
    height: 300px;
}
.poster-info{
    width: 400px;
    height: 400px;
}
.poster-info button{
    position: relative;
    left:40%;
}
.quote-head{
    text-align: center;
    margin-top: 20px;
}
.quote{
    font-size: 25px;
}
/* poster section responsive end here */

/* --funny section responsive start here-- */
.funny-container{
    flex-direction: column;
}
.box{
    position: relative;
    left: 30%;
}

/* --funny section responsive end here-- */

}